
/*body*/
.texto{
    padding-top: 37px;
}

.categorias{
    float: left;
    width: 20%;
}
.produtos{
    float: right;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
    padding-bottom: 10%;
    text-align: center;
}

.preco{
    color: red;
}

/*Rodape*/
#rodape{
    text-align: center;
    clear: left;
    
}
#rodape img{
    width: 40%;
}

#formas_pagamento{
    clear: right;
    position: relative;
}

